
/* margin & padding for sub-wrappers
--------------------------------------------------------------------------------------------------------------- */

#about {
    background-color: #f3f3f3;
	padding: 120px 0px 60px 0px;
}



#skill {
	
    background-color: #ccc;
	padding: 50px 0px 110px 0px;

}

#project {
	
    background-color: #f3f3f3;
	padding: 50px 0px 90px 0px;

}

#contact {
	
    background-color: #ccc;
	padding: 50px 0px 110px 0px;

}
/* footer
--------------------------------------------------------------------------------------------------------------- */
#social {
    background-color: #7d7d7d;
	padding: 0px 0px 0px 0px;
	text-align: center;
	padding: 50px 0px 80px 0px;
	color: white;
}
.top {
	background-color: #7d7d7d;

}
