

body, html {
    height: 100%;
}


nav.navbar.navbar-inverse.navbar-fixed-top {
    box-shadow: 0 4px 3px rgba(255,255,255,0.4),
                 0 8px 13px rgba(255,255,255,0.1),
                 0 18px 23px rgba(255,255,255,0.1);
}

/* margin & padding for sub-wrappers
--------------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar
{
  width: 11px;  /* for vertical scrollbars */
  height: 11px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(166, 158, 176, 0.5);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}


#about {
	background-image: url('../code1.jpg');
	background-color: #f3f3f3;
	padding: 120px 0px 195px 0px;
}

div.container1{ 
	width: 30vw; 
	margin : 15px auto; 
	border: 1px solid gray; 
	opacity: 0.9; 
	padding: 5px; 
	font-size: 18px; 
	color: #ccc;
	background-color:black;
	}

	div.container2{ 
	margin : 35px auto; 
	}

.label {
	    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.5);
}



.parallax { 
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}




	img.rotate{
		
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;

-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;

overflow:hidden;
    box-shadow: 3px 3px 10px 3px rgba(255, 255, 255, 0.5);


}

img.rotate:hover
{
-webkit-transform:rotate(1deg);
-moz-transform:rotate(1deg);
-o-transform:rotate(1deg);


}


#skill {
	
    background-color: #ccc;
	padding: 125px 0px 172px 0px;

}

#project {
	
    background-color: #f3f3f3;
	padding: 50px 0px 90px 0px;

}

#more{
	font-size:18px;
	padding: 5px;
}

div.thumbnail {
	
	background-size: cover;
			cursor: pointer;
			box-shadow: 0 5px 10px rgba(0,0,0,.8);
			&:hover {
			box-shadow: 0 15px 20px rgba(0,0,0,.4);
			}
			vertical-align: top;
			
			overflow: hidden;
}

	@media screen and (min-width: 481px) and (max-width: 779px) {
		div.thumbnail{
			

		}
    }
	
	@media screen and (max-width: 480px) {
		div.thumbnail:hover{
			-moz-transform: none;
			-webkit-transform: none;
			transform: none;
			box-shadow: 0 10px 25px rgba(0,0,0,.7);

	}}
	
	@media screen and (min-width: 480px) {
		
		div.thumbnail:hover {
		-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
	}
	}


#contact {
	
    background-color: #ccc;
	padding: 90px 0px 190px 0px;
	background-image: url('../basti-steiner-2.jpg');
	color: black;
	opacity: 1;

}

/* footer
--------------------------------------------------------------------------------------------------------------- */
#social {
    background-color: #191919;
	text-align: center;
	padding: 35px 0px 38px 0px;
	color: white;
}

.smoothscroll{
	margin-top: 7px;
}
.top {
	background-color: #4c4c4c;
}

button {
    outline-style: none;
}

@media screen and (max-width: 800px) {
		div#go-top{
			position: absolute;
	top: -105px;
   left: 50%;
   margin-left: -30px;
		}
}
/* Go To Top Button */
#go-top {
	position: absolute;
	top: -25px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 50px;
	height: 50px;
	background-color: #b2b2b2;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #000;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #99cc99; opacity: 0.8 }
	
/* Font Awesome Footer Icons
--------------------------------------------------------------------------------------------------------------- */

.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  opacity: 1;

}

div .fan .fa{
	  border: 2px solid white;
	  color: white;
}

.fan a:hover{
	text-decoration: none;
	transition-delay:120ms;
	color: white;
}

.fan a:link {
	text-decoration: none;
}

.fan a:active{
	text-decoration: none;
}

.fan a:visited{
	text-decoration: none;
}



.fa:hover {
	transition-delay:100ms;
}

div .fan .fa-facebook:hover {
  background-color: #3B5998;
  color: white;
}

div .fan .fa-twitter:hover {
  background: #55ACEE;
  color: white;
}

div .fan .fa-google-plus:hover {
  background: #dd4b39;
  color: white;
}

div .fan .fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

div .fan .fa-instagram:hover {
  background: #125688;
  color: white;
}


/* End OF footer
--------------------------------------------------------------------------------------------------------------- */

/* Contact Form Style */


input[type=text], select {
    width: 100%;
    padding: 12px 20px 12px 12px;
    margin: auto auto 10px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	color:green;
	font-size: 16px;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px 12px 12px;
    margin: auto auto 10px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	color:green;
	font-size: 16px;
}


input[type=submit] {
    width:100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 0px;
    margin: 5px auto auto auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label#message{
	    margin: 10px auto 5px auto;

}


textarea {
    width: 100%;
    height: 75px;
	padding: 12px 20px 12px 12px;
    margin: auto auto 10px auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.formStyle {
	border-radius: 5px;
    background-color: #000;
    padding: 20px 30px ;
	width: 600px;
	margin: 0 auto;
	opacity: 0.9;
}


@media screen and (min-width: 480px) {
    div.prowid {
        margin: 20px 150px 0px 150px;
    }
}

@media screen and (max-width: 500px) {
    div.ss {
		padding: 5px 0px 20px 0px;
		
    }
	img.rotate {
		margin : 0 auto;
	}
	div.formStyle {
		width: 85vw;
		margin : 0 auto;
	}
	span#about-me {
	width: 95vw;
	margin: 0 auto;
	font-size: 5px;
	}
	div.container1{
	font-size:14px;
	width: 65vw;
	padding:10px;
	}
}

@media screen and (min-width: 500px) and (max-width : 900px) 
{
	div.formStyle {
		width: 60vw;
		margin : 0 auto;

	}
	
	div.container1{
	font-size:12px;
	width: 85vw;
	padding:10px;
	}

}
