

body, html {
    height: 100%;
}


nav.navbar.navbar-inverse.navbar-fixed-top {
    box-shadow: 0 4px 3px rgba(255,255,255,0.4),
                0 8px 13px rgba(255,255,255,0.1),
                0 18px 23px rgba(255,255,255,0.1);
}


.label {
	    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.5);
}

button {
    outline-style: none;
}

.parallax { 
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}


/* Side Scrollbar Design
--------------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar
{
  width: 11px;  /* for vertical scrollbars */
  height: 11px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(166, 158, 176, 0.5);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}


/* About Section
--------------------------------------------------------------------------------------------------------------- */
#about {
	background-image: url('../img/code1.jpg');
	background-color: #f3f3f3;
	padding: 120px 0px 185px 0px;
}

img.rotate{
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;

	overflow:hidden;
    box-shadow: 3px 3px 10px 3px rgba(255, 255, 255, 0.5);
}

img.rotate:hover
{
-webkit-transform:rotate(1deg);
-moz-transform:rotate(1deg);
-o-transform:rotate(1deg);
}


/* Skill Section
--------------------------------------------------------------------------------------------------------------- */
#skill {	
    background-color: #ccc;
	padding: 125px 0px 192px 0px;
}


/* Project Section
--------------------------------------------------------------------------------------------------------------- */
#project {
	
    background-color: #f3f3f3;
	padding: 50px 0px 90px 0px;

}

div.thumbnail {
	
	background-size: cover;
			cursor: pointer;
			box-shadow: 0 5px 10px rgba(0,0,0,.8);
			&:hover {
			box-shadow: 0 15px 20px rgba(0,0,0,.4);
			}
			vertical-align: top;
			
			overflow: hidden;
}

/* Contact Section
--------------------------------------------------------------------------------------------------------------- */
#contact {
    background-color: #ccc;
	padding: 90px 0px 190px 0px;
	background-image: url('../img/basti-steiner-2.jpg');
	color: black;
	opacity: 1;
}

/* Footer Section
--------------------------------------------------------------------------------------------------------------- */
#social {
    background-color: #191919;
	text-align: center;
	padding: 35px 0px 38px 0px;
	color: white;
}


@media screen and (max-width: 800px) {
		div#go-top{
			position: relative;
			margin:0 auto !important;
		}
}
/* Go To Top Button */
#go-top {
	width:50px;
	margin: 0 auto !important;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 50px;
	height: 50px;
	background-color: #ffd2e8;
	opacity:0.6;
	border: none;


	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #000;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { opacity: 0.8; border:1px solid #000; }
#letsSocial{font-family: 'Lobster', cursive; font-size: 30px}	

/* Font Awesome Footer Icons
--------------------------------------------------------------------------------------------------------------- */

.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  opacity: 1;

}

div .fan .fa{
	  border: 2px solid white;
	  color: white;
}

.fan a:hover{
	text-decoration: none;
	transition-delay:120ms;
	color: white;
}

.fan a:link {
	text-decoration: none;
}

.fan a:active{
	text-decoration: none;
}

.fan a:visited{
	text-decoration: none;
}



.fa:hover {
	transition-delay:100ms;
}

div .fan .fa-facebook:hover {
  background-color: #3B5998;
  color: white;
}

div .fan .fa-twitter:hover {
  background: #55ACEE;
  color: white;
}

div .fan .fa-google-plus:hover {
  background: #dd4b39;
  color: white;
}

div .fan .fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

div .fan .fa-instagram:hover {
  background: #125688;
  color: white;
}


/* End OF footer
--------------------------------------------------------------------------------------------------------------- */

/* Contact Form Style */


input[type=text], select {
    width: 100%;
    padding: 12px 20px 12px 12px;
    margin: auto auto 10px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	color:green;
	font-size: 16px;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px 12px 12px;
    margin: auto auto 10px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	color:green;
	font-size: 16px;
}


input[type=submit] {
    width:100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 0px;
    margin: 5px auto auto auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label#message{
	    margin: 10px auto 5px auto;

}


textarea {
    width: 100%;
    height: 75px;
	padding: 12px 20px 12px 12px;
    margin: auto auto 10px auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div.formStyle {
	border-radius: 5px;
    background-color: #000;
    padding: 20px 30px ;
	width: 600px;
	margin: 0 auto;
	opacity: 0.9;
}


/* Mobile Devices Customization Section
--------------------------------------------------------------------------------------------------------------- */
	
@media screen and (max-width: 480px) {
	
	#about, #skill{
		padding: 0px auto 8px auto !important;
	}
	div.intro-mobile{
		margin: 18px auto 0px auto !important;
	}
	span#intro{
		font-size:14px !important;
	}
	
	div.content{
		margin: 0px auto !important;
	}
	
	div#myDIV{
		border-radius: 2px 20px!important;
		padding: 5px !important;
	}
	
	button.moreT{
		font-size:12px !important;
	}
	span#more{
		font-size:12px !important;
	}
	
	h1{
		margin-top:15px !important;
		font-size: 25px !important;
	}
	div.mobile{
		margin:0px auto !important;
	}
	.rotate{
			margin-top:0px !important;
		}
	hr{
		margin-bottom:8px !important;	
		}
	div.thumbnail:hover{
		-moz-transform: none;
		-webkit-transform: none;
		transform: none;
		box-shadow: 0 10px 25px rgba(0,0,0,.7);
	}
	
	img.rotate {
		margin : 0 auto;
	}
	
	div.formStyle {
		width: 95%;
		margin : 0 auto;
	}
	#go-top {
		padding-top: 30px !important;
	}
}
	
@media screen and (min-width: 480px) {
	
	div.thumbnail:hover {
	-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	}
	
	div.prowid {
        margin: 20px 150px 0px 150px;
    }
}

@media screen and (min-width: 500px) and (max-width : 800px) 
{
div.formStyle {
		width: 420px;
		margin : 0 auto;

	}

}
