

body, html {
    height: 100%;
}


nav.navbar.navbar-inverse.navbar-fixed-top {
    box-shadow: 0 4px 3px rgba(255,255,255,0.4),
                 0 8px 13px rgba(255,255,255,0.1),
                 0 18px 23px rgba(255,255,255,0.1);
}

/* margin & padding for sub-wrappers
--------------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar
{
  width: 11px;  /* for vertical scrollbars */
  height: 11px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(166, 158, 176, 0.5);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}


#about {
	background-image: url('../code.jpg.jpg');
	background-color: #f3f3f3;
	padding: 120px 0px 35px 0px;
}

.label {
	    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.5);
}

div.opa {
	
		opacity: none;
}


.parallax { 
    opacity: 0.9;
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}




	img.rotate{
		
-webkit-transition-duration: 0.4s;
-moz-transition-duration: 0.4s;
-o-transition-duration: 0.4s;
transition-duration: 0.4s;

-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;

overflow:hidden;
    box-shadow: 3px 3px 10px 3px rgba(255, 255, 255, 0.5);


}

img.rotate:hover
{
-webkit-transform:rotate(1deg);
-moz-transform:rotate(1deg);
-o-transform:rotate(1deg);


}


@media screen and (min-width: 480px) {
    div.prowid {
        margin: 20px 150px 0px 150px;
    }
}

@media screen and (max-width: 500px) {
    div.ss {
		padding: 5px 0px 20px 0px;
		
    }
	img.rotate {
		margin : 0px auto;
	}
}


#skill {
	
    background-color: #ccc;
	padding: 125px 0px 172px 0px;

}

#project {
	
    background-color: #f3f3f3;
	padding: 50px 0px 90px 0px;

}

div.thumbnail {
	
	background-size: cover;
			cursor: pointer;
			box-shadow: 0 5px 10px rgba(0,0,0,.8);
			&:hover {
			box-shadow: 0 15px 20px rgba(0,0,0,.4);
			}
			vertical-align: top;
			
			overflow: hidden;

}

	@media screen and (max-width: 779px) {
		div.thumbnail{
		vertical-align: top;
		
		box-shadow: 0 10px 25px rgba(0,0,0,.7);
		outline: 2px solid #2a2a2a;
		}
    }
	
	

div.thumbnail:hover {
		-moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;

	}

#contact {
	
    background-color: #ccc;
	padding: 150px 0px 190px 0px;
	background-image: url('../basti-steiner-266387.jpg');
	color: white;
	opacity: 1;

}

/* footer
--------------------------------------------------------------------------------------------------------------- */
#social {
    background-color: #191919;
	text-align: center;
	padding: 35px 0px 38px 0px;
	color: white;
}
.top {
	background-color: #4c4c4c;
}

button {
    outline-style: none;
}

	
/* Font Awesome Footer Icons
--------------------------------------------------------------------------------------------------------------- */

.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  opacity: 1;

}

div .fan .fa{
	  border: 2px solid white;
	  color: white;
}

.fan a:hover{
	text-decoration: none;
	transition-delay:120ms;
	color: white;
}

.fan a:link {
	text-decoration: none;
}

.fan a:active{
	text-decoration: none;
}

.fan a:visited{
	text-decoration: none;
}



.fa:hover {
	transition-delay:100ms;
}

div .fan .fa-facebook:hover {
  background-color: #3B5998;
  color: white;
}

div .fan .fa-twitter:hover {
  background: #55ACEE;
  color: white;
}

div .fan .fa-google-plus:hover {
  background: #dd4b39;
  color: white;
}

div .fan .fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

div .fan .fa-instagram:hover {
  background: #125688;
  color: white;
}


/* End OF footer
--------------------------------------------------------------------------------------------------------------- */
