html {
	font-size: 1.1em;
	margin:0;
	color: black;
	font-family: tahoma, helvetica;
	height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a:link, a:hover, a:active, a:visited {
	text-decoration: none;
}

#about, #skills, #projects, #contact {
	height: 100vh;
}


#about, #projects {
	background-color: #a5a5a5;
}

#skills, #contact {
	background-color: #cbcbcb;
}

#content {
	margin: 0px 30px;
}

nav.navbar {
	box-shadow: 0px 2px 5px gray;
}

.navGlyphicon {
	color: #ccccff
}

.h1Text{
	font-size: 50px;
}


/* ---------  start of navbar ------------------------------------------------
---------------------------------------------------------------------------------- */
#navbar-brand {	
	margin-left: 30px;
}/*end of navbar-section*/

/* ---------  start of about-section ------------------------------------------------
---------------------------------------------------------------------------------- */
.aboutContainer {
  position: relative;
  width: 100%;
}

.aboutOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #add6ff ;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0.4;

}

div#content {
	margin-top: 140px;
}

div.parallax {
	background-image: url("img/aboutimage.jpg");
	height: 100%;  
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#intro {
	width: 75vw; 
	margin: auto;
	color: #000;
	padding: 20px 25px;
	border-radius: 90px 0px;
	font-size: 1.7em;
	font-family: Lobster, Material;
	text-align:justify-all;
}

div#intro a:hover {
	text-decoration: none;
	color: blue;
}

span.blueColor {
	color: blue;
}

#img1 {
	margin-bottom: 40px;
    box-shadow: 2px 2px 10px 2px #555;
}
div.content #img:hover {
	box-shadow: 1px 1px 3px gray;
}/*end of about-section*/


/* ---------  start of skills-section ------------------------------------------------
---------------------------------------------------------------------------------- */
div.content2 {
	height:100%;
}

#skills {
	font-size: 25px;
}

div#skills h1{
	margin-top: 100px;
	margin-bottom: 5px !important;
}

hr#lineStyle1 {
	margin-bottom: 100px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	width: 15%;
	border: 0;
    height: 2px;
    margin-top: 0px !important;
}

i.bootIcon {
	font-size:160px;
}

i.bootIcon2 {
	font-size:140px;
}
i.bootIcon3 {
	font-size:182px;
}

.its {
	margin-top: -16px;
}

.it {
	margin-top: -46px;
}

p#html {
	margin-top: 30px;
		font-weight: bold;
}
p#css {
	margin-top: 30px;	
	font-weight: bold;
}
p#b {	
	margin-top: 0px;
		font-weight: bold;
}
p#js {
	margin-top: -26px;
	text-align: center;
		font-weight: bold;
}/*end of skills-section*/


/* ---------  start of projects-section ------------------------------------------------
---------------------------------------------------------------------------------- */
div.content3 {
	height:100%;
	margin: 0 auto;
}

#projects {
	
}

div#projects h1{
	margin-top: 80px;
}

hr#lineStyle2 {
	margin-bottom: 36px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	width: 20%;
	border: 0;
    height: 2px;
}

div.row2{
	margin-top: 6px;
}

img.projectStyle {
	box-shadow: 0 1px 2px rgba(0,0,0,.8);
	width: 100%;
	display: block;
}

img.projectStyle:hover {
		box-shadow: 0 5px 10px rgba(0,0,0,.8);
	}

img.thumbnail {
	background-color: #eee;
	height: 190px;

}

.container1 {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.9;
}

.container1:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: #fff;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text h3{
	font-size: 20px;
}
.text p{
	font-size: 14px;
}/*end of about-section*/


/* ---------  start of contact-section ------------------------------------------------
---------------------------------------------------------------------------------- */
div.parallax2 {
	background-image: url("img/contact4.jpg");
	height: 100%;  
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
	
}

div#contact h1{
	margin-top: 80px;
}

hr#lineStyle3 {
	margin-bottom: 36px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	width: 20%;
	border: 0;
    height: 2px;
}

div#formStyle {
	width: 50vw;
	height: 68vh;
	margin: 0 auto;
	border: 2px solid #fff;
	padding: 20px;
	background-color: #ddd;
	border-radius: 4px;
}

input[aria-invalid="true"], textarea[aria-invalid="true"] {
  border: 1px solid #f00;
  box-shadow: 0 0 4px 0 #f00;
}

input[type=text], input[type=email], select {
    width: 100%;
    padding: 10px 20px;
    margin: 2px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffd;
}

label#messageTop {
	    margin-top: 10px;
}
textarea {
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    background-color: #ffd;

}

input[type=submit] {
    width: 20%;
    font-weight: bold;
    background-color: #444;
    color: #eee;
    padding: 14px 20px;
    margin: 8px 0 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #555;
}/*end of about-section*/

/* ---------  start of footer-section ------------------------------------------------
---------------------------------------------------------------------------------- */
.footer {
	background-color: #222;
	height: 200px;
	color: #eee;
	padding: 30px 0px 0px;
}

.social {
	margin-top: 12px;
}
.goTop {
	width: 50px;
	line-height: 50px;
	margin: 0 auto;
  	font-size: 21px;
  	background-color: #777;
  	border:1px solid #000;
  	border-radius: 50%;
  	opacity: 0.8;
  	color:#000;
}
.goTop:hover {
	opacity: 1;
	background-color: #788;
}

.fa-angle-double-up{
	color: #000;
}

.fa-angle-double-up:link, .fa-angle-double-up:visited {
    text-decoration: none;
    color: #000;
   	background-color: red;
    border: 1px solid red;
}

.fa-angle-double-up:hover, .fa-angle-double-up:active {
    text-decoration: none;
}

div.copyright {
	font-family:Comfortaa, Tahoma;
	margin: 50px auto 30px;
}

span#copy {
	color: #fff;
}

.fa-heart-o {
	color: #FF69B4;
}

.iconf {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 0px 2px;
  border-radius: 50%;
  opacity: 1;
  border: 2px solid #000;
  color: #000;
}

.iconf:hover{
	text-decoration: none;
	transition-delay:120ms;
	color: white;
  	border: 2px solid #fff;
	transition-delay:100ms;
}

.iconf:link {
	text-decoration: none;
}

.iconf:active{
	text-decoration: none;
}

.iconf:visited{
	text-decoration: none;
}

.fa-facebook:hover {
  background-color: #3B5998;
  color: white;
}

.fa-twitter:hover {
  background: #55ACEE;
  color: white;
}

.fa-google-plus:hover {
  background: #dd4b39;
  color: white;
}

.fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

.fa-instagram:hover {
    background: -webkit-linear-gradient(#4c68d7,#8a3ab9,#fbad50); /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#4c68d7,#8a3ab9,#fbad50); /* Opera 11.1-12.0 */ 
    background: -moz-linear-gradient(#4c68d7,#8a3ab9,#fbad50); /* Firefox 3.6-15 */
    background: linear-gradient(#4c68d7,#8a3ab9,#fbad50); /* Standard syntax */
	
	color: white;
}
/*end of about-section*/



/*Mobile Optimization -------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px){
	.parallax {
        background-attachment: scroll;
    }
	div#content {
	margin-top: 80px;
	}
	div#intro {
		font-size: 1.2em;
	}
	#img1 {
		width: 180px;
		margin-bottom: 10px; 
	}

	.h1Text{
	font-size: 30px;
	}

	div#skills h1{
		margin: 110px auto 60px;
	}

	hr#lineStyle1 {
	margin-bottom: 38px;
	}

	i.bootIcon {
		font-size:106px;
		margin-bottom: 60px;
	}

	i.bootIcon2 {
		font-size:92px;
	}

	i.bootIcon3 {
		font-size:122px;
		padding-top: 300px !important;
		margin-top: 300px !important;
	}

	div.nit, div.nits {
		margin-bottom: 25px;
	}

	div.it {
		margin-top: -38px;
	}
	p#html, p#css {
		margin-top: -50px;
	}
	p#js{
		margin-top: -20px;
	}
	p#html, p#css, p#js, p#b {
		font-size: 15px;
	}
	
	#projects {
		height: 150vh;
	}
	
	div#projects hr {
		margin: 10px auto 20px;
	}
	img.projectStyle {
		width: 90vw;
		margin: 10px auto;
	}

	div.hideElement {
		display: none;
	}
	
	div#contact h1 {
		margin-bottom: 0;
	}
	div#contact hr {
		margin: 10px auto 20px;
	}
	div#formStyle {
	width: 90vw;
	}

	input[type=text], input[type=email], select {
    padding: 6px 12px;
	}
	input[type=submit] {
		padding: 4px 1px;
		width: 33%;
	}

}

@media screen and (max-width: 991px) and (min-width: 768px){
	div.hideElement {
		display: none;
	}
	div#content3 {
		width: 50vw;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1199px) and (min-width: 992px){
}

@media screen and (min-width: 1200px){
}